<div id="stepFaultReport" class="step">
    <div class="step-header">
        <small class="step-mark">Korak</small>
        <div class="step-title">Prijavite smetnju za uslugu:</div>
    </div><!-- /.step-header -->
    <div class="step-body">

        <form class="fault-submit-form" [formGroup]="faultSubmitForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="phoneNumber">Kontakt broj:</label>
                <input type="text" class="form-control" formControlName="phoneNumber" pattern="[0-9]{8,15}"
                    maxlength="15" inputmode="tel" placeholder="Unesite kontakt broj" required=""
                    [ngClass]="{
                        'is-valid' : !phoneNumber.invalid,
                        'is-invalid' : phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched) && phoneNumber.errors.validPhone
                        }">

                    <div class="error-message" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                        Kontakt broj je obvezan i mora sadržavati 8 do 15 brojeva u obliku 385991234567
                    </div>
            </div>


            <div class="form-group">
                <label for="name">Kontakt broj:</label>
                <input type="text" class="form-control" formControlName="name" pattern="^[A-z]+$"
                    maxlength="15" minlength="1" inputmode="text" placeholder="Unesite ime" required="" [ngClass]="{
                        'is-valid' : !name.invalid,
                        'is-invalid' : name.invalid)
                        }">

                    <div class="error-message" *ngIf="name.invalid && (name.dirty || name.touched)">
                        Ime je obavezno
                    </div>
            </div>


        </form>

    </div><!-- /.step-body -->
</div><!-- /.step -->